@foreach (var word in _greeting)
{
    <p>@word</p>
}

@code {
    List<string> _greeting = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _greeting.Add("Welcome");
        await Task.Delay(1000);
        _greeting.Add("to");
        // if we want the UI to update after each word is added to the list, then we must manually call StateHasChanged
        // to inform Blazor that the UI should be updated
        StateHasChanged();

        await Task.Delay(1000);
        _greeting.Add("Blazor in Action");
    }

}