@page "/GreetingPage"

<div class="container">
    <div class="row align-self-center">
        <AsyncGreeting />
    </div>
    <div class="row align-self-start">
        <NavLink href="\">Home</NavLink>
    </div>
</div>

@code {
    
}