@page "/"

<div class="container">
    <div class="row align-self-center">
        <Lifecycle />
    </div>
    <div class="row align-items-start">
        <NavLink href="GreetingPage">Greetings Page</NavLink>
    </div>
</div>


